@import "../../../styles/utils/variables.scss";

.button {
  &_size {
    &_small {
      width: 32px;
      height: 32px;
    }

    &_medium {
      width: 40px;
      height: 40px;
    }

    &_large {
      width: 52px;
      height: 52px;
    }
  }

  &_icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg-color-controllers;
    border: 1px solid transparent;
    border-radius: $button-border-radius;
    transition: $animation-time ease-in-out;

    &:hover {
      cursor: pointer;
      background: $bg-color-controllers-hov;
    }
    &__disabled {

      &:hover {
        cursor: not-allowed;
      }
    }


    &:active {
      background: #0f1121;
      border: 1px solid $separator-color;
    }
  }

  &_img {
    width: 16px;
    height: 16px;
  }
}

