@import "../../../styles/utils/variables.scss";

.pageChangeButton {
  width: 32px;
  height: 32px;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  background: $bg-color-controllers;
  background-repeat: no-repeat;
  background-position: center;
  transition: $animation-time ease-in-out;
}

.left {
  background-image: url('../../../static/Slider/arrow-left-active.svg');

  &:hover:not(.left-disabled) {
    cursor: pointer;
    background-color: $bg-color-controllers-hov;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-light {
    background-image: url('../../../static/Slider/arrow-left-disabled.svg');
  }

  &-disabled {
    background: none;
    background-image: url('../../../static/Slider/arrow-left-disabled.svg');
    border: 1px solid $separator-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover:not(.left-light):not(.left-disabled) {
    background-image: url('../../../static/Slider/arrow-left-active.svg');
  }
}

.right {
  background-image: url('../../../static/Slider/arrow-right-active.svg');

  &:hover:not(.right-disabled) {
    cursor: pointer;
    background-color: $bg-color-controllers-hov;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-light {
    background-image: url('../../../static/Slider/arrow-right-disabled.svg');
  }

  &-disabled {
    background: none;
    background-image: url('../../../static/Slider/arrow-right-disabled.svg');
    border: 1px solid $separator-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover:not(.right-light):not(.right-disabled) {
    background-image: url('../../../static/Slider/arrow-right-active.svg');
  }
}
