@import "../../styles/utils/variables.scss";

.pageButton {
  width: 32px;
  height: 32px;
  background: $bg-color-product;
  color: $primary-text-color;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  border: none;

  &:hover {
    background: $separator-color
  }
}

.selected {
  background: $accent-color;

  &:hover {
    background: $accent-color;
  }
}
