@import "../../../../styles/mixins/mixins.scss";
@import "../../../../styles/utils/variables.scss";

.available-colors {
  margin-top: 40px;
  padding-bottom: 26px;
  border-bottom: 1px solid $elements;

  @include onTablet {
    margin: 0;
  }

  &__text {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: $secondary-text-color;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    gap: 9px;
  }
}


.available-color {
  border: 2px solid $elements;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.circle {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 1.6px;
}

.active {
  border: 2px solid $primary-text-color;
}
