@import "../../styles/utils/variables.scss";

.NotFavorite {
  width: 40px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  padding: 11px;
  background-color: $bg-color-controllers;
  transition: $animation-time ease-in-out;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    background-color: $bg-color-controllers-hov;
    border-radius: 10%;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

.Favorite {
  padding: 11px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid $separator-color;
}
