@import '../../styles/utils/variables.scss';

.NotFavorite {
  width: 40px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  padding: 12px;
  background-color: $surface-2;
  transition: $animation-time ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $icons;
    border-radius: 10%;
  }
}

.Favorite {
  padding: 11px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid $elements;
}
