@import "../../styles/utils/variables.scss";

.wrapper {
  height: 100%;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &__titles {
    display: flex;
    flex-direction: column;
  }
}

.animation {
  &__image {
    animation: rotateMentor 9s ease-in-out infinite;
  }
}

.title {
  font-weight: 800;
  font-size: 36px;

  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  color: transparent;
  display: inline-block;
  background-clip: text;
}

.link {
  color: $btn-inactive-color-text;
  font-size: 24px;
  font-weight: bold;
}

@keyframes rotateMentor {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(-60deg);
  }

  75% {
    transform: rotate(-110deg);
  }
}
