@import "../../styles/mixins/mixins.scss";
@import "../../styles/utils/variables.scss";

.carousel_main {
  padding: 0px;

  @include onTablet {
    padding: 0 16px;
  }

  .slick-list {
    .slick-track {
      .slick-slide {
        div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  
  //light-theme-stles
  &.carousel_main_light {
    .slick-arrow {
      &.slick-next {
        &::before {
          background: url("../../static/Carousel/arrow_banner_right_light.svg")
            center/contain no-repeat;
        }

        &:hover {
          border-radius: 4px;
          background-color: $bg-color-controllers-hov;
        }
      }

      &.slick-prev {
        &::before {
          background: url("../../static/Carousel/arrow_banner_right_light.svg")
            center/contain no-repeat;
        }
        &:hover {
          border-radius: 4px;
          background-color: $bg-color-controllers-hov;
        }
      }
    }
  }

  .slick-arrow {
    transition: $animation-time;

    &.slick-next {
      background: $bg-color-controllers;
      height: 100%;
      border: none;
      max-height: 400px;
      width: 32px;

      &::before {
        content: "";
        display: block;
        background: url("../../static/Carousel/arrow_banner.svg") center/contain
          no-repeat;
        width: 32px;
        height: 9px;
      }
      &:hover {
        border-radius: 4px;
        background-color: $bg-color-controllers-hov;
      }
    }

    &.slick-prev {
      background: $bg-color-controllers;
      height: 100%;
      border: none;
      max-height: 400px;
      width: 32px;

      &::before {
        content: "";
        display: block;
        background: url("../../static/Carousel/arrow_banner.svg") center/contain
          no-repeat;
        width: 32px;
        height: 9px;
        transform: rotate(180deg);
      }
      &:hover {
        border-radius: 4px;
        background-color: $bg-color-controllers-hov;
      }
    }
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    bottom: -20px;

    li {
      margin: 0;
      padding: 0;
      width: 28px;
      height: 8px;

      button {
        width: 14px;
        height: 4px;
        padding: 0;
        background: $separator-color;

        &:before {
          display: none;
        }
      }
    }

    li.slick-active {
      button {
        background: $primary-text-color;
      }
    }
  }
}
