@import "../../../styles/utils/variables.scss";
@import "../../../styles/mixins/mixins.scss";

.phoneProperties {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $secondary-text-color;
  }
}
