@import '../../../styles/utils/variables.scss';

.Empty {
  display: flex;
  margin-top: 24px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &__Button {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    background: $accent-color;
    font-family: inherit;
    transition: $animation-time ease-in-out;

    &:hover {
      border-radius: 4px;
      cursor: pointer;
      background: $accent-color-hov;
    }

    &:active {
      background: #A987FF;
    }

    &__Text {
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px;
      color: $btn-color-text;
    }
  }
}
