@import "../../styles/utils/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: 0px 1px 0px 0px $surface-2;
  height: 65px;
  background: $black;
  font-family: "Mont", "Arial", sans-serif;
  font-weight: bold;

  &_menu {
    display: none;
    margin: 0;
    border: 0;
    border-left: 1px solid $surface-2;
    padding: 23px;
    background: $black;
  }

  &_inside_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &_logo {
    display: flex;
    &_img {
      display: flex;
      margin: 0 24px;
      padding-right: 24px;
      width: 80px;
      height: 28px;
    }
  }

  &_nav {
    display: flex;
    align-items: center;
    &__list {
      display: flex;
      gap: 64px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &__item {
      text-decoration: none;
    }

    &__link {
      position: relative;
      padding: 26px 0;
      line-height: 11px;
      letter-spacing: 0.48px;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
      text-decoration: none;
      color: $secondary-text-color;

      &_active {
        color: $primary-text-color;
        &::after {
          content: "";
          position: absolute;
          display: block;
          margin-bottom: 0;
          width: 100%;
          height: 3px;
          bottom: 4px;
          background-color: $primary-text-color;
        }
      }

      &:hover {
        color: $primary-text-color;
      }
    }
  }

  &_icons {
    &_link {
      padding: 22px 24px;
      border-left: 1px solid $surface-2;
    }
  }

  &_icon_wrap {
    position: relative;
    img {
      position: relative;
      width: 16px;
      height: 16px;
    }
  }

  &_icon {
    &_count_bg {
      position: absolute;
      top: -7px;
      right: -7px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid $black;
      background-color: $red;
      font-size: 9px;
      text-align: center;
    }

    &_count {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      color: $primary-text-color;
    }
  }
}

@media (max-width: 800px) {
  .header {
    display: flex;
    justify-content: space-between;

    &_menu {
      display: block;
    }

    &_inside_wrapper {
      display: none;
    }

    &_logo {
      display: flex;
      &_img {
        width: 64px;
        height: 22px;
      }
    }
  }
}
