@import "../../styles/utils/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 64px;
  background: $black;
  box-shadow: 0px 1px 0px 0px #323542;

  &_inside_wrapper {
    // background-color: aqua;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &_logo {
    display: flex;
    &_img {
      width: 80px;
      height: 28px;
      margin: 0 24px;
    }
  }

  &_nav {
    display: flex;
    align-items: center;
    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 64px;
      display: flex;
    }
    &__item {
      text-decoration: none;
    }
    &__link {
      position: relative;
      padding: 26px 0;
      text-decoration: none;
      font-size: 12px;
      font-style: normal;
      font-weight: 800;
      line-height: 11px;
      letter-spacing: 0.48px;
      text-transform: uppercase;
      color: $secondary-text-color;
      &:hover {
        color: $primary-text-color;
      }
    }
    &__link_active {
      color: $primary-text-color;
      &::after {
        display: block;
        position: absolute;
        content: "";
        height: 4px;
        width: 100%;
        bottom: 0;
        margin-bottom: 0;
        background-color: $primary-text-color;
      }
    }
  }
  &_icons {
    color: wheat;
    &_link {
      padding: 24px;
      border-left: 1px solid #323542;
    }
  }
  &_icon_wrap {
    position: relative;
    img {
      position: relative;
      width: 16px;
      height: 16px;
    }
  }
  &_icon {
    &_count_bg {
      top: -7px;
      right: -7px;
      position: absolute;
      background-color: #eb5757;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      font-size: 9px;
      text-align: center;
    }
    &_count {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f1f2f9;
      height: inherit;
    }
  }
}

// @media (max-width: 800px) {
//   .header {
//     display: flex;
//     justify-content: space-between;
//     &_menu {

//     }
//     &_inside_wrapper {
//       visibility: hidden;
//       height: 0;
//       width: 0;
//     }
//   }
// }





// -----------menu-------

