@import "../../styles/utils/variables.scss";
@import "../../styles/mixins/mixins.scss";

.header {
  font-family: "Mont", "Arial", sans-serif;
  font-weight: bold;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 1;
  height: 48px;
  background-color: $bg-color-main;
  box-shadow: 0px 1px 0px 0px $bg-color-controllers;

  @include onDesktop {
    height: 65px;
  }

  &_switch {
    align-self: center;
    width: 50px;
    height: 25px;
    padding-inline: 15px;
  }

  &_menu {
    display: none;
    margin: 0;
    border: 0;
    border-left: 1px solid $bg-color-controllers;
    padding: 14px 16px;
    background: $bg-color-main;

    @include onDesktop {
      padding: 24px;
    }
  }

  &_inside_wrapper {
    display: none;
    width: 100%;

    @include onTablet {
      display: flex;
    }
  }

  &_logo {
    display: flex;
    &_img {
      display: flex;
      margin: 0 24px;
      padding-right: 24px;
      width: 80px;
      height: 28px;
    }
  }

  &_nav {
    display: flex;
    align-items: center;
    &__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;

      @include onTablet {
        gap: 32px;
      }

      @include onDesktop {
        gap: 64px;
      }
    }

    &__item {
      text-decoration: none;
    }

    &__link {
      position: relative;
      padding: 18px 0;
      line-height: 11px;
      letter-spacing: 0.48px;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
      text-decoration: none;
      color: $secondary-text-color;

      @include onDesktop {
        padding: 26px 0;
      }

      @include afterActiveLinkBorder(4px, $primary-text-color);

      &_active {
        color: $primary-text-color;

        &::after {
          transform: scale(1);
        }
      }

      &:hover {
        color: $primary-text-color;
        transition: $animation-time;
      }
    }
  }

  &_icons {
    align-self: flex-end;
    &_link {
      position: relative;
      display: inline-flex;
      padding: 16px 16px;
      border-left: 1px solid $bg-color-controllers;
      cursor: pointer;

      @include onDesktop {
        padding: 24px 24px;
      }

      @include afterActiveLinkBorder(0px, $primary-text-color);
      &_active {
        &::after {
          transform: scale(1);
        }
      }
    }
  }

  &_icon_wrap {
    position: relative;
    display: inline-flex;
    img {
      position: relative;
      width: 16px;
      height: 16px;
    }
  }

  &_icon {
    &_count_bg {
      position: absolute;
      top: -7px;
      right: -7px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid $bg-color-main;
      background-color: $red;
      font-size: 9px;
      text-align: center;
    }

    &_count {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      color: $primary-text-color;
    }
  }
}

@media (max-width: 760px) {
  .header {
    display: flex;
    justify-content: space-between;

    &_menu {
      display: block;
    }

    &_inside_wrapper {
      display: none;
    }
  }
}
