@import '../../styles/mixins/mixins.scss';
@import '../../styles/utils/variables.scss';

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 16px;
  @include onTablet {
    justify-content: flex-start;
  }
  & > * {
    max-width: 288px;
    min-width: 229px;

    @include onTablet {
      min-width: 230px;
    }

    @include onDesktop {
      width: 272px;
    }
  }
}

.heading {
  grid-column: span 4;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 41px;

  @include onTablet {
    grid-column: span 12;
    font-size: 48px;
    line-height: 56px;
  }

  @include onDesktop {
    grid-column: span 24;
  }
}

.empty {
  grid-column: span 4;
  align-items: center;
  text-align: center;

  @include onTablet {
    grid-column: span 12;
  }

  &__description {
    margin: 0;
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 33px;
    color: $separator-color;

    @include onTablet {
      font-size: 27px;
      line-height: 56px;
    }
  }

  &__image {
    width: 80px;
    height: 80px;

    @include onTablet {
      width: 100px;
      height: 100px;
    }
  }

  @include onDesktop {
    grid-column: span 24;
  }
}
