@import "../../styles/mixins/mixins.scss";
@import "../../styles/utils/variables.scss";


h2,
h4,
p {
  margin: 0;
  padding: 0;
}

.category {
  font-family: "Mont", sans-serif;
  color: $primary-text-color;
  margin: 80px 0;

  &__title {
    font-size: 22px;

    @include onTablet {
      font-size: 32px;
    }

    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.01em;
  }

  &__products {
    @include pageGrid;
  }
}
