@import "../../styles/mixins/mixins.scss";
@import "../../styles/utils/variables.scss";

.slider-style {
  .slick-track {
    display: flex;
    gap: 16px;
  }
}

.arrow {
  position: absolute;
  top: -63px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  background-color: $surface-2;
  width: 32px;
  height: 32px;

  transition: $animation-time;

  background-repeat: no-repeat;
  background-position: center;

  &-left {
    right: 60px;
    background-image: url('../../static/Slider/arrow-left-active.svg');
  }

  &-right {
    background-image: url('../../static/Slider/arrow-right-active.svg');
  }

  &:hover {
    border-radius: 10%;
    background-color: $icons;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  background: none;
  border: 1px solid var(--Gray-Elements, #3B3E4A);
}
