@import "../../styles/mixins/mixins.scss";
@import "../../styles/utils/variables.scss";

.card_slider {
  .slider-style .slick-slide {
    margin-left: 16px;
  }

  position: relative;
  .slick-slider {
    position: static;
    .slick-list {
      margin-left: -16px;
      margin-right: -16px;

      @include onDesktop {
        margin-right: 0;
      }

      .slick-track {
        display: flex;
      }
    }
    .slick {
      &-prev {
        position: absolute;
        top: 24px;
        right: 50px;
        left: auto;
        width: 32px;
        height: 32px;
        background: $elements url("../../static/Slider/arrow-left-active.svg")
          no-repeat center;
        transition: $animation-time ease-in-out;
        
        &::before {
          display: none;
        }

        &:hover {
          border-radius: 10%;
        }
      }

      &-next {
        top: 24px;
        right: 0px;
        left: auto;
        width: 32px;
        height: 32px;
        background: $elements url("../../static/Slider/arrow-right-active.svg")
          no-repeat center;
        transition: $animation-time ease-in-out;

        &::before {
          display: none;
        }

        &:hover {
          border-radius: 10%;
        }
      }

      &-next.slick-disabled {
        pointer-events: none;
        background: url("../../static/Slider/arrow-right-disabled.svg")
          no-repeat center;
        border: 1px solid $elements;
      }

      &-prev.slick-disabled {
        pointer-events: none;
        background: url("../../static/Slider/arrow-left-disabled.svg") no-repeat
          center;
        border: 1px solid $elements;
      }
    }
  }
}
