@import "../../../styles/mixins/mixins.scss";

.main-info__container {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 8 / span 5;
  }

  @include onDesktop {
    grid-column: 14 / span 7;
  }
}
