$primary-text-color: #f1f2f9;
$secondary-text-color: #75767f;
$surface-1: #161827;
$surface-2: #323542;
$elements: #3B3E4A;
$icons: #4A4D58;
$black: #0f1121;
$red: #EB5757;
$green: #27AE60;
$accent: #E8E9EE;
$max-width: 1136px;
$animation-time: 0.3s;
