@import "../../styles/mixins/mixins.scss";

.category__product {
  grid-column: 1 / -1;

  // @include onDesktop {
  //   grid-column: span 8;
  // }

  // @include onTablet {
  //   grid-column: span 5;
  // }

  &-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }

  &-description {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  &:hover .image {
    transform: scale(1.1);
  }
}

.category__card {
  overflow: hidden;
  width: 368px;
  height: 368px;
  margin: 24px 0;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
}

.image {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
