@import "../../styles/mixins/mixins.scss";
@import "../../styles/utils/variables.scss";

iframe {
  display: none;
}

.itemPage {
  position: relative;
  &__top {
    @include pageGrid;

    margin-top: 32px;

    @include onTablet {
      margin-top: 40px;
    }
  }

  &__about-tech {
    @include pageGrid;

    margin: 56px 0;
    gap: 56px;

    @include onTablet {
      gap: 64px;
      margin: 64px 0;
    }

    @include onDesktop {
      gap: 0px;
      margin: 80px 0;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 800;
    line-height: 31px;

    @include onTablet {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.01em;
    }
  }

  // &__state-error {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);

  //   &-img {
  //     position: absolute;
  //     border-radius: 20%;
  //     left: 35%;
  //     right: 35%;
  //     top: 35%;
  //     animation: rotateMentor 7s linear infinite;
  //   }
  // }

  &__state-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 100px;
  }
}

.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading {
  font-size: 28px;
  margin-bottom: 56px;
}

.infinite-rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
