@import "../../../styles/utils/variables.scss";

.pageButton {
  width: 32px;
  height: 32px;
  background: $bg-color-product;
  color: $btn-inactive-color-text;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  border: none;
  cursor: pointer;
  transition: $animation-time ease-in-out;

  &:hover {
    background: $separator-color;
  }
}

.selected {
  pointer-events: none;
  background: $accent-color;
  color: $btn-color-text;

  &:hover {
    background: $accent-color;
  }
}
