.pageButton {
  width: 32px;
  height: 32px;
  background: var(--Gray-Surface-1, #161827);
  color: var(--Gray-White, #F1F2F9);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  border: none;

  &:hover {
    background: var(--Gray-Elements, #3B3E4A);
  }
}

.selected {
  background: var(--Accent, #905BFF);

  &:hover {
    background: var(--Accent, #905BFF);
  }
}
