@import "../../../styles/utils/variables.scss";

.capacityAvailable {
  margin: 24px 0 32px;
  padding-bottom: 26px;
  border-bottom: 1px solid $elements;

  &__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: $secondary-text-color;
    margin-bottom: 15px;
  }
}

.available-capacity {
  cursor: pointer;
  font-weight: 600;
  line-height: 21px;
  padding: 7px 8px 4px;
  color: $primary-text-color;
  border: 1px solid $elements;
  text-decoration: none;
  margin-right: 8px;
  &-active {
    background-color: $primary-text-color;
    color: $black;
  }
}
