@import '../../../styles/utils/variables.scss';

.NotAdded {
  display: flex;
  width: calc(100% - 48px);
  height: 40px;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  padding: 0;
  align-items: center;
  flex-shrink: 0;
  background: var(--Accent, #905BFF);
  transition: $animation-time ease-in-out;

  &:hover {
    border-radius: 4px;
    cursor: pointer;
    background: #A378FF;
  }

  &:active {
    background: #A987FF;
  }
}

.Added {
  background-color: $surface-2;
}

.Text {
  color: var(--gray-white, #F1F2F9);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
