@import "../../styles/utils/variables.scss";
@import '../../styles/mixins/mixins.scss';

.modal {
  &_background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(1.5px);
  }

  &_container {
    max-width: 500px;
    border-radius: 12px;
    background-color: $bg-color-main;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 7px 25px;
    margin: 0px 16px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &_title {
    margin: 16px 0;
    font-size: 28px;
    font-weight: 800;

    @include onTablet {
      font-size: 38px;
      font-weight: 800;
      line-height: 56px;
      letter-spacing: -0.48px;
    }
  }

  &_form {
    font-size: 14px;
    margin: 0;
    line-height: normal;
  }

  &_buttons_wrapper {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px 20px;
      color: $primary-text-color;
      border-radius: 6px;
      font-family: inherit;
      transition: $animation-time;

      &:hover {
        cursor: pointer;
        border: 1px solid $accent-color-hov;
      }
    }
  }

  &_button {
    &_close__wraper {
      display: flex;
      justify-content: flex-end;
    }

    &_close {
      &:hover {
        background-color: $red;
      }
    }

    &_cancel {
      border: 1px solid $primary-text-color;
      background: transparent;
    }

    &_success {
      border: 1px solid $green;
      background: transparent;
    }
  }
}
