@import "../../styles/utils/variables.scss";

.modal {
  &_background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(1.5px);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_container {
    width: 500px;
    min-height: 200px;
    border-radius: 12px;
    background-color: $black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 7px 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &_title {
    margin: 16px 0;
    font-size: 38px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.48px;
  }

  &_form {
    font-size: 14px;
    margin: 0;
    line-height: normal;
  }

  &_buttons_wrapper {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px 20px;
      color: #f1f2f9;
      border-radius: 6px;
      transition: $animation-time;
      &:hover {
        cursor: pointer;
        border: 1px solid $primary;
      }
    }
  }

  &_button {
    &_close__wraper {
      display: flex;
      justify-content: flex-end;
    }

    &_close {
      &:hover {
        background-color: $red;
      }
    }

    &_cancel {
      border: 1px solid $primary-text-color;
      background: transparent;
    }

    &_success {
      border: 1px solid $green;
      background: transparent;
    }
  }
}
